*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #333;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#title{
    color: #fff;
    font-size: 2rem;
    letter-spacing: 2px;
}

#clock{
    width: 350px;
    height: 300px;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid #fff;
    border-radius: 20px;
}

.time{
    padding: 10px;
    width: 90px;
    height: 30px;
    margin: 40px 5px;
    font-weight: bold;
    border-radius: 5px;
}

#timeInput{
    margin: 40px 0;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}

.btn{
    padding: 10px 20px;
    border-radius: 15px;
    margin: 0 5px;
    font-size: 1.1rem;
    background-color: #111;
    color: #fff;
    cursor: pointer;
    border: 2px solid #fff;
}